body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
}

.max-width-1200px {
  max-width: 1200px;
}

.max-width-1000px {
  max-width: 1000px;
}

.max-width-800px {
  max-width: 800px;
}
