<template>
  <nav id="nav" class="navbar navbar-light bg-light mb-4">
    <div id="navbarTitle" class="me-auto">
      <h2>
        Vue.js Template
      </h2>
    </div>
    <div id="routerLinks" class="ms-auto">
      <router-link to="/" class="btn btn-lg btn-outline-primary me-1">
        Home
      </router-link>
      <router-link to="/about" class="btn btn-lg btn-outline-primary ms-1">
        About
      </router-link>
    </div>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Navbar",
});
</script>

<style scoped>
#nav {
  height: 4.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
</style>
